a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.provice-table-header {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.visx-annotationlabel {
    font-weight: 300;
    font-family: 'Prompt';
}

.dark-theme {
    background-color: #242424;
    color: white;
}
@media only screen and (min-width: 768px) {
    .infoBox {
        font-family: 'Sarabun';
        color: black;
        background-color: white;
        padding: 1em;
    }
    .mapContainer {
        position: relative;
        width: 100%;
        height: 90vh;
        z-index: 1;
    }
    .infoBox-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        transform: translate(-50%, 0);
    }

    .credit {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .credit {
        font-size: 13px;
    }
    .infoBox {
        font-family: 'Sarabun';
        font-size: 1em;
        line-height: 1.3em;
        color: black;
        background-color: white;
        padding: 1em;
    }
    .mapContainer {
        position: relative;
        width: 100%;
        padding-top: 80%;
        z-index: 1;
    }
    .infoBox-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        bottom: 16px;
        right: 16px;
        left: 16px;
        right: 16px;
        z-index: 3;
    }
}

.text-end {
    text-align: end;
}
.table-theme-light {
    thead {
        th {
            border: none;
        }
    }
    tbody {
        tr {
            td {
                vertical-align: middle;
                text-align: end;
                border-top: 1px solid #525252;
            }
            border-bottom: 0px;
        }
    }
}

.text-sec {
    color: #cfd8dc;
}

.alert-black {
    color: white;
    background-color: #3c3c3c;
}
.bar-label {
    .label {
        flex: 1;
        text-align: center;
        transform: translateX(50%);
    }
}

.bar-legend {
    opacity: 0.6;
    height: 15px;
    .bar {
        flex: 1;
        padding-bottom: 5px;
        border-right: 1px solid #d9d9d9;
    }
    .level {
        width: 100%;
        height: 100%;
        background-color: red;
    }
}

.doses-progress {
    background-color: rgb(173, 173, 173);
    width: 100%;
    height: 10px;
    .doses-bar {
        height: 100%;
        background-color: #2e7265;
    }
}
.doses-progress-map {
    background-color: #dbdbdb;
    width: 50px;
    height: 10px;
    .doses-bar {
        height: 100%;
        background-color: #60897e;
    }
}
.vaccine-theme {
    color: #60897e;
}
.reset-button {
    position: absolute;
    right: 10px;
    top: 80px;
    z-index: 2;
}
.btn-icon {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
    background-color: none;
    border: none;
    border-radius: 4px;
    padding: 6px;
}

span {
    line-height: 1.4em;
}

.province-graph {
    width: 100%;
    padding-top: 75%;
    background-size: 125%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}
.supply-circle-legend {
    border: #427165 2px solid;
    background-color: rgba(66, 113, 101, 0.4);
    border-radius: 50%;
}

.case-circle-legend {
    border: rgb(255, 0, 0) 1px solid;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
}

hr {
    opacity: 0.2 !important;
    border-top: 1px solid white !important;
}

.tick {
    font-size: 11px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}

.flat-line {
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.skip-map {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.annotation {
    position: absolute;
    line-height: 8px;
    span {
        font-size: 10px;
        color: #999;
    }
}

.badge-vaccination-scale {
    font-size: 90% !important;
    width: 50px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-toggle {
    width: auto;
    min-width: 150px;
    padding: 0.8em;
    text-align: center;
    border: none;
    background-color: #3c3c3c;
    color: white;
    font-weight: bold;
    font-size: 90%;
}
.logo {
    opacity: 1 !important;
}

.social-logo {
    width: 20px;
    height: 20px;
}

.aspect-ratio-16-9 {
    width: 100%;
    padding-top: 56.25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.table-grey {
    td {
        border-top-color: #444444 !important;
    }
}

.mapContainer {
    transition: background-color 1s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pulse-unloaded {
    opacity: 1;
}

.pulse-loaded {
    opacity: 0;
    -webkit-animation-name: fade-out;
    -webkit-animation-duration: 2s;
    animation-name: fade-out;
    animation-duration: 2s;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}
#vaccination-race-chart {
    .grid line {
        stroke: lightgrey;
        stroke-opacity: 1;
        shape-rendering: crispEdges;
        stroke-dasharray: 5 5;
    }

    .grid path {
        stroke-width: 0;
    }
}
.sort-table-th {
    position: relative;
    text-align: end;
    p {
        margin: 0px;
    }
    .up:after {
        font-family: 'Material Icons';
        content: '\e5c7';
        font-size: 22px;
        position: absolute;
        right: -7px;
    }
    .down:after {
        font-family: 'Material Icons';
        content: '\e5c5';
        font-size: 22px;
        position: absolute;
        right: -7px;
    }
}
@media only screen and (max-width: 768px) {
    .nav-links {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        button {
            width: 100%;
            height: 100%;
        }
    }
}
@media only screen and (min-width: 768px) {
    .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    button {
        width: 100%;
        height: 100%;
    }
}

.col-spacing {
    border-right: 8px solid #242424;
}

.manufacturers_bar {
    transition: 200ms;
}
.manufacturers_bar:hover {
    opacity: 0.7;
    cursor: pointer;
}
