html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visx-annotationlabel{
  font-weight: 300;
  font-family: 'Prompt';
}

.mapContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.dark-theme{
  background-color: #242424;
  color: white;
}

.infoBox{
  color: black;
  z-index: 2;
  position: absolute;
  top:16px;
  left: 16px;
  background-color: white;
  padding: 1em;
}